Liberary Calling

In [25]:
import pandas as pd

Importing Dataset

In [26]:
data= pd.read_excel("Sample_data.xlsx")

Exploring

In [31]:
data.head()

,OrderNumber,MerchantId,Type,CityName,Status,Revenue,CreationSource,FulfillmentOrderFlag,NextDayFees,createdAt,AssignedHub,DriverId,RouteId
0,d3e4560ebba417cb108d0df903802645,f8221e71a4844d85b19d01ec988b0401,Forward,Dakahlia,Success,29.0,BUSINESS_DASHBOARD,0.0,NaN,2022-10-28 16:52:14,Maadi Hub,7ee4a40d001245959968ed9cc8b987a1,38dad08b70ff4cdf213f243ae1c3651d
1,5a4473ca7e477eb67829c65f7009c688,14df7468e0773be85f1910cf8c23bb84,Forward,Giza,Success,29.0,NEW_MASS_UPLOAD,0.0,NaN,2022-12-15 11:48:44,Maadi Hub,5099c36d1f8ea2ef7a8a09fb476065f8,0a4a39afe01c58b4776f596b864c9114
2,cba9bfe3ce54740e56aef7b21c599f3e,582769bd5c659aeb20b06b60a0670e01,RTO,Cairo,Failed,17.0,API,0.0,NaN,2022-11-01 10:10:24,Domiatta Hub,86185ff4f4502e4221df4e97b0cb2631,7b64bf60b9f5ea078bf8ab692c9fd99f
3,ad060e01dfb9667c7c0f25423be3ac69,18c64835ba462b08d39d7ee1c4737be2,Forward,Cairo,Success,24.0,API,NaN,NaN,2023-01-09 11:30:29,Heliopolis Hub,317cb96a3dab1faf47a317e7edd6efc0,ffe2d971cc503cf5f077f97b92bccfaf
4,aad916f240a7d5096878a97b5f9f0577,0d88a85d07a9f35778a14da3ba149cab,Forward,Giza,Success,90.0,BUSINESS_DASHBOARD,0.0,NaN,2022-11-12 13:07:04,Mokattam Hub,ef81d0d289fcfa06cc45a2cad0ea0938,a38bea5815acbd17f0fecf625494a521

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   OrderNumber           500000 non-null  object
 1   MerchantId            500000 non-null  object
 2   Type                  500000 non-null  object
 3   CityName              500000 non-null  object
 4   Status                500000 non-null  object
 5   Revenue               500000 non-null  float64
 6   CreationSource        500000 non-null  object
 7   FulfillmentOrderFlag  377581 non-null  float64
 8   NextDayFees           114589 non-null  float64
 9   createdAt             500000 non-null  datetime64[ns]
 10  AssignedHub           499734 non-null  object
 11  DriverId              478604 non-null  object
 12  RouteId               445517 non-null  object
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 49.6+ MB

In [33]:
data.describe()

,Revenue,FulfillmentOrderFlag,NextDayFees,createdAt
count,500000.000000,377581.000000,114589.000000,500000
mean,32.358458,0.003560,4.067305,2022-12-01 12:05:46.211088128
min,0.000000,0.000000,0.000000,2022-10-01 00:01:07
25%,24.000000,0.000000,0.000000,2022-11-02 12:50:22.249999872
50%,30.000000,0.000000,5.000000,2022-11-30 01:01:34
75%,39.000000,0.000000,5.000000,2022-12-31 13:03:29
max,541.400024,1.000000,238.500000,2023-01-31 23:58:23
std,15.412783,0.059555,6.805413,NaN

Exploring unique identifiers

In [41]:
ID_order= data["OrderNumber"].duplicated().sum()
print("number of duplicate orders ids  are ",ID_order)

number of duplicate orders ids  are  0

In [40]:
D= data["MerchantId"].duplicated().sum()
U= data["MerchantId"].nunique()
print("number of duplicates are ",D)
print("number of uniques are ",U)

number of duplicates are  493937
number of uniques are  6063

Data cleaning

Changing FulfillmentOrderFlag datatype  from float to bool

In [14]:
data["FulfillmentOrderFlag"] = data["FulfillmentOrderFlag"].astype(bool)

Filling Null values

according to Type column and Status column, we will fill the FulfillmentOrderFlag column

In [42]:
 condition = (data["Type"] == "Forward") & (data["Status"] == "Success")
data.loc[condition, "FulfillmentOrderFlag"] = data.loc[condition, "FulfillmentOrderFlag"].fillna(data["FulfillmentOrderFlag"].mode()[0])

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   OrderNumber           500000 non-null  object
 1   MerchantId            500000 non-null  object
 2   Type                  500000 non-null  object
 3   CityName              500000 non-null  object
 4   Status                500000 non-null  object
 5   Revenue               500000 non-null  float64
 6   CreationSource        500000 non-null  object
 7   FulfillmentOrderFlag  474381 non-null  float64
 8   NextDayFees           114589 non-null  float64
 9   createdAt             500000 non-null  datetime64[ns]
 10  AssignedHub           499734 non-null  object
 11  DriverId              478604 non-null  object
 12  RouteId               445517 non-null  object
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 49.6+ MB

We will fill the rest of rows with the majorty due to its samll size and no other explanation

In [44]:
majority_value = data['FulfillmentOrderFlag'].mode()[0]
data['FulfillmentOrderFlag'].fillna(majority_value, inplace=True)

for NextDayFees , we will fill the null values with the median to avoid any disturpance in the dataset statstics

In [45]:
data['NextDayFees'] = data['NextDayFees'].fillna(data['NextDayFees'].median())

In [46]:
data.describe()

,Revenue,FulfillmentOrderFlag,NextDayFees,createdAt
count,500000.000000,500000.000000,500000.000000,500000
mean,32.358458,0.002688,4.786247,2022-12-01 12:05:46.211088128
min,0.000000,0.000000,0.000000,2022-10-01 00:01:07
25%,24.000000,0.000000,5.000000,2022-11-02 12:50:22.249999872
50%,30.000000,0.000000,5.000000,2022-11-30 01:01:34
75%,39.000000,0.000000,5.000000,2022-12-31 13:03:29
max,541.400024,1.000000,238.500000,2023-01-31 23:58:23
std,15.412783,0.051776,3.281413,NaN

the last 3 columns'  missing information is valuable itself, and to impute it with the most common class won’t be appropriate. In such a case, we will  replace them with a value like “Unknown”

In [47]:
AssignedHub_clean = data["AssignedHub"].fillna("Unknown", inplace=True)
Driver_clean = data["DriverId"].fillna("Unknown", inplace=True)
Route_clean = data["RouteId"].fillna("Unknown", inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   OrderNumber           500000 non-null  object
 1   MerchantId            500000 non-null  object
 2   Type                  500000 non-null  object
 3   CityName              500000 non-null  object
 4   Status                500000 non-null  object
 5   Revenue               500000 non-null  float64
 6   CreationSource        500000 non-null  object
 7   FulfillmentOrderFlag  500000 non-null  float64
 8   NextDayFees           500000 non-null  float64
 9   createdAt             500000 non-null  datetime64[ns]
 10  AssignedHub           500000 non-null  object
 11  DriverId              500000 non-null  object
 12  RouteId               500000 non-null  object
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 49.6+ MB

Save to an Excel file

In [24]:
data.to_excel('Case_Study.xlsx', index=False)